@import url(__logo/header__logo.css);

.header {
  margin: 0 15.625%;
  padding: 45px 0 41px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0;
    padding: 28px 0 32px;
  }
}